<form [formGroup]="form" (submit)="onSubmit(form)">
    <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
    <button type="reset">Clear</button>
    <button type="submit">Submit</button>
</form>

<p-tabView>
  <p-tabPanel header="Form Value">
     <pre>{{form.value | json}}</pre>
  </p-tabPanel>
  <p-tabPanel header="Model">
    <pre>{{model | json}}</pre>
  </p-tabPanel>
  <p-tabPanel header="Submitted">
      Content 3
  </p-tabPanel>
</p-tabView>


<p-autoComplete [suggestions]="dataService.getCities() | async" [dropdown]="true" field="label" (completeMethod)="search($event)"></p-autoComplete>
