  <form [formGroup]="form" (submit)="onSubmit(form)">
    <formly-form [model]="model1" [fields]="cfg1" [form]="form"></formly-form>
    <p-panel header="Model 2"><formly-form [model]="model2" [fields]="cfg2" [form]="form"></formly-form></p-panel>
    <button type="reset">Clear</button>
    <button type="submit">Submit</button>
  </form>
  <p-tabView>
    <p-tabPanel header="Form Values">
      <pre>{{form.value | json}}</pre>
    </p-tabPanel>
    <p-tabPanel header="Model">
      <pre>{{model1 | json}}</pre>
    </p-tabPanel>
    <p-tabPanel header="Model2">
      <pre>{{model2 | json}}</pre>
    </p-tabPanel>
  </p-tabView>
